<!-- src/app/components/survey-edit/survey-edit.component.html -->
<div class="container mt-4">
    <h2>Edit Survey</h2>
    
    <div *ngIf="loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <div *ngIf="error" class="alert alert-danger">
      Error loading survey. Please try again later or go back to the <a [routerLink]="['/surveys']">surveys list</a>.
    </div>
    
    <form *ngIf="!loading && !error" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Personal Information Section -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">
              <h4>Personal Information</h4>
            </div>
            <div class="card-body">
              <!-- First Name -->
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
                />
                <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                  <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
                </div>
              </div>
  
              <!-- Last Name -->
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
                />
                <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                </div>
              </div>
  
              <!-- Street Address -->
              <div class="mb-3">
                <label for="streetAddress" class="form-label">Street Address <span class="text-danger">*</span></label>
                <input
                  type="text"
                  id="streetAddress"
                  formControlName="streetAddress"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['streetAddress'].errors }"
                />
                <div *ngIf="submitted && f['streetAddress'].errors" class="invalid-feedback">
                  <div *ngIf="f['streetAddress'].errors['required']">Street Address is required</div>
                </div>
              </div>
  
              <!-- City -->
              <div class="mb-3">
                <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                <input
                  type="text"
                  id="city"
                  formControlName="city"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
                />
                <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                  <div *ngIf="f['city'].errors['required']">City is required</div>
                </div>
              </div>
  
              <!-- State -->
              <div class="mb-3">
                <label for="state" class="form-label">State <span class="text-danger">*</span></label>
                <input
                  type="text"
                  id="state"
                  formControlName="state"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['state'].errors }"
                />
                <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
                  <div *ngIf="f['state'].errors['required']">State is required</div>
                </div>
              </div>
  
              <!-- Zip Code -->
              <div class="mb-3">
                <label for="zip" class="form-label">Zip Code <span class="text-danger">*</span></label>
                <input
                  type="text"
                  id="zip"
                  formControlName="zip"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['zip'].errors }"
                />
                <div *ngIf="submitted && f['zip'].errors" class="invalid-feedback">
                  <div *ngIf="f['zip'].errors['required']">Zip Code is required</div>
                  <div *ngIf="f['zip'].errors['pattern']">Please enter a valid Zip Code (12345 or 12345-6789)</div>
                </div>
              </div>
  
              <!-- Phone Number -->
              <div class="mb-3">
                <label for="telephone" class="form-label">Telephone <span class="text-danger">*</span></label>
                <input
                  type="tel"
                  id="telephone"
                  formControlName="telephone"
                  class="form-control"
                  placeholder="(123) 456-7890"
                  [ngClass]="{ 'is-invalid': submitted && f['telephone'].errors }"
                />
                <div *ngIf="submitted && f['telephone'].errors" class="invalid-feedback">
                  <div *ngIf="f['telephone'].errors['required']">Telephone number is required</div>
                  <div *ngIf="f['telephone'].errors['pattern']">Please enter a valid telephone number</div>
                </div>
              </div>
  
              <!-- Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Please enter a valid email address</div>
                </div>
              </div>
  
              <!-- Survey Date -->
              <div class="mb-3">
                <label for="surveyDate" class="form-label">Date of Survey <span class="text-danger">*</span></label>
                <input
                  type="date"
                  id="surveyDate"
                  formControlName="surveyDate"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['surveyDate'].errors }"
                />
                <div *ngIf="submitted && f['surveyDate'].errors" class="invalid-feedback">
                  <div *ngIf="f['surveyDate'].errors['required']">Survey date is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Survey Information Section -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">
              <h4>Survey Information</h4>
            </div>
            <div class="card-body">
              <!-- What did you like most about the campus -->
              <div class="mb-4">
                <label class="form-label">What did you like most about the campus?</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="likedStudents" formControlName="likedStudents">
                  <label class="form-check-label" for="likedStudents">Students</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="likedLocation" formControlName="likedLocation">
                  <label class="form-check-label" for="likedLocation">Location</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="likedCampus" formControlName="likedCampus">
                  <label class="form-check-label" for="likedCampus">Campus</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="likedAtmosphere" formControlName="likedAtmosphere">
                  <label class="form-check-label" for="likedAtmosphere">Atmosphere</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="likedDormRooms" formControlName="likedDormRooms">
                  <label class="form-check-label" for="likedDormRooms">Dorm Rooms</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="likedSports" formControlName="likedSports">
                  <label class="form-check-label" for="likedSports">Sports</label>
                </div>
              </div>
  
              <!-- How did you become interested in the university -->
              <div class="mb-4">
                <label class="form-label">How did you become interested in the university? <span class="text-danger">*</span></label>
                <div class="form-check">
                  <input 
                    class="form-check-input" 
                    type="radio" 
                    id="interestFriends" 
                    value="friends" 
                    formControlName="interestSource"
                    [ngClass]="{ 'is-invalid': submitted && f['interestSource'].errors }"
                  >
                  <label class="form-check-label" for="interestFriends">Friends</label>
                </div>
                <div class="form-check">
                  <input 
                    class="form-check-input" 
                    type="radio" 
                    id="interestTelevision" 
                    value="television" 
                    formControlName="interestSource"
                  >
                  <label class="form-check-label" for="interestTelevision">Television</label>
                </div>
                <div class="form-check">
                  <input 
                    class="form-check-input" 
                    type="radio" 
                    id="interestInternet" 
                    value="internet" 
                    formControlName="interestSource"
                  >
                  <label class="form-check-label" for="interestInternet">Internet</label>
                </div>
                <div class="form-check">
                  <input 
                    class="form-check-input" 
                    type="radio" 
                    id="interestOther" 
                    value="other" 
                    formControlName="interestSource"
                  >
                  <label class="form-check-label" for="interestOther">Other</label>
                </div>
                <div *ngIf="submitted && f['interestSource'].errors" class="invalid-feedback d-block">
                  <div *ngIf="f['interestSource'].errors['required']">Please select how you became interested</div>
                </div>
              </div>
  
              <!-- Likelihood of recommending -->
              <div class="mb-4">
                <label for="recommendationLikelihood" class="form-label">How likely are you to recommend this school to other prospective students? <span class="text-danger">*</span></label>
                <select 
                  id="recommendationLikelihood" 
                  formControlName="recommendationLikelihood" 
                  class="form-select"
                  [ngClass]="{ 'is-invalid': submitted && f['recommendationLikelihood'].errors }"
                >
                  <option value="" disabled>Choose an option</option>
                  <option value="very likely">Very Likely</option>
                  <option value="likely">Likely</option>
                  <option value="unlikely">Unlikely</option>
                </select>
                <div *ngIf="submitted && f['recommendationLikelihood'].errors" class="invalid-feedback">
                  <div *ngIf="f['recommendationLikelihood'].errors['required']">Please select a recommendation likelihood</div>
                </div>
              </div>
  
              <!-- Additional Comments -->
              <div class="mb-3">
                <label for="additionalComments" class="form-label">Additional Comments</label>
                <textarea
                  id="additionalComments"
                  formControlName="additionalComments"
                  class="form-control"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Form Buttons -->
      <div class="d-flex justify-content-end gap-2 mb-4">
        <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>