<div class="card">
    <div class="card-header bg-primary text-white">
      <h2>Student Survey Form</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <!-- Personal Information -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="firstName" class="form-label">First Name *</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" 
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('firstName')?.errors}">
            <div *ngIf="submitted && surveyForm.get('firstName')?.errors" class="invalid-feedback">
              First name is required
            </div>
          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name *</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName"
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('lastName')?.errors}">
            <div *ngIf="submitted && surveyForm.get('lastName')?.errors" class="invalid-feedback">
              Last name is required
            </div>
          </div>
        </div>
  
        <!-- Address -->
        <div class="mb-3">
          <label for="streetAddress" class="form-label">Street Address *</label>
          <input type="text" class="form-control" id="streetAddress" formControlName="streetAddress"
                 [ngClass]="{'is-invalid': submitted && surveyForm.get('streetAddress')?.errors}">
          <div *ngIf="submitted && surveyForm.get('streetAddress')?.errors" class="invalid-feedback">
            Street address is required
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="city" class="form-label">City *</label>
            <input type="text" class="form-control" id="city" formControlName="city"
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('city')?.errors}">
            <div *ngIf="submitted && surveyForm.get('city')?.errors" class="invalid-feedback">
              City is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="state" class="form-label">State *</label>
            <input type="text" class="form-control" id="state" formControlName="state"
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('state')?.errors}">
            <div *ngIf="submitted && surveyForm.get('state')?.errors" class="invalid-feedback">
              State is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="zip" class="form-label">Zip *</label>
            <input type="text" class="form-control" id="zip" formControlName="zip"
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('zip')?.errors}">
            <div *ngIf="submitted && surveyForm.get('zip')?.errors" class="invalid-feedback">
              <span *ngIf="surveyForm.get('zip')?.errors?.['required']">Zip is required</span>
              <span *ngIf="surveyForm.get('zip')?.errors?.['pattern']">Please enter a valid zip code</span>
            </div>
          </div>
        </div>
  
        <!-- Contact Information -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="telephone" class="form-label">Telephone *</label>
            <input type="tel" class="form-control" id="telephone" formControlName="telephone" 
                   placeholder="10 digits only"
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('telephone')?.errors}">
            <div *ngIf="submitted && surveyForm.get('telephone')?.errors" class="invalid-feedback">
              <span *ngIf="surveyForm.get('telephone')?.errors?.['required']">Telephone is required</span>
              <span *ngIf="surveyForm.get('telephone')?.errors?.['pattern']">Please enter a valid 10-digit phone number</span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Email *</label>
            <input type="email" class="form-control" id="email" formControlName="email"
                   [ngClass]="{'is-invalid': submitted && surveyForm.get('email')?.errors}">
            <div *ngIf="submitted && surveyForm.get('email')?.errors" class="invalid-feedback">
              <span *ngIf="surveyForm.get('email')?.errors?.['required']">Email is required</span>
              <span *ngIf="surveyForm.get('email')?.errors?.['email']">Please enter a valid email address</span>
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="dateOfSurvey" class="form-label">Date of Survey *</label>
          <input type="date" class="form-control" id="dateOfSurvey" formControlName="dateOfSurvey"
                 [ngClass]="{'is-invalid': submitted && surveyForm.get('dateOfSurvey')?.errors}">
          <div *ngIf="submitted && surveyForm.get('dateOfSurvey')?.errors" class="invalid-feedback">
            Date of survey is required
          </div>
        </div>
  
        <!-- Campus Likes -->
        <div class="mb-3">
          <label class="form-label">What did you like most about the campus? (Check all that apply)</label>
          <div class="form-check" *ngFor="let option of campusLikes">
            <input class="form-check-input" type="checkbox" [id]="option.id" [value]="option.id" 
                   (change)="onCheckboxChange($event)">
            <label class="form-check-label" [for]="option.id">{{ option.name }}</label>
          </div>
        </div>
  
        <!-- Interest Source -->
        <div class="mb-3">
          <label class="form-label">How did you become interested in the university? *</label>
          <div class="form-check" *ngFor="let source of interestSources">
            <input class="form-check-input" type="radio" [id]="'interest' + source" 
                   [value]="source" formControlName="interestSource">
            <label class="form-check-label" [for]="'interest' + source">{{ source }}</label>
          </div>
          <div *ngIf="submitted && surveyForm.get('interestSource')?.errors" class="text-danger mt-1">
            Please select how you became interested
          </div>
        </div>
  
        <!-- Recommendation Likelihood -->
        <div class="mb-3">
          <label for="likelihood" class="form-label">How likely are you to recommend this school to other prospective students? *</label>
          <select class="form-select" id="likelihood" formControlName="likelihood"
                  [ngClass]="{'is-invalid': submitted && surveyForm.get('likelihood')?.errors}">
            <option value="">-- Select --</option>
            <option *ngFor="let option of recommendOptions" [value]="option">{{ option }}</option>
          </select>
          <div *ngIf="submitted && surveyForm.get('likelihood')?.errors" class="invalid-feedback">
            Please select an option
          </div>
        </div>
  
        <!-- Comments -->
        <div class="mb-3">
          <label for="comments" class="form-label">Additional Comments</label>
          <textarea class="form-control" id="comments" formControlName="comments" rows="3"></textarea>
        </div>
  
        <!-- Buttons -->
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>